<link rel="stylesheet" href="/css/header.css">
<nav class="nav">
    <div class="container">
        <a href="/">
            <h1>
                <img src="/images/logo.png" alt="logo">
            </h1>
        </a>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <% for(let link of links) { %> 
                <li class="nav-item">
                    <a class="nav-link" href="#<%= link %>"><%= link %></a>
                </li>
                <% } %> 
            </ul>
            <ul class="nav-list">
                <!-- <li class="nav-item">
                    <a class="login" href="/list/recruite">find staff</a>
                </li>
                <li class="nav-item">
                    <a class="login" href="/list/job">apply job</a>
                </li> -->
                <li class="nav-item">
                    <a class="login" href="/login">Log in</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="btn">Sign up</a>
                </li>
            </ul>
        </div>
    </nav>