<link rel="stylesheet" href="/css/header.css">
<nav class="nav">
    <div class="container">
        <a href="/">
            <h1>
                <img src="/images/logo.png" alt="logo">
            </h1>
        </a>
        <ul class="nav-list">
            <% for(let link of links) { %> 
                <li class="nav-item">
                    <% let url = link.split(' ')[0] + link.split(' ')[1] %>
                    <a class="nav-link" href="/<%= url %>"><%= link %></a>
                </li>
            <% } %> 
            <li class="nav-item">
                <a class="login" href="/list/recruite">find staff</a>
            </li>
            <li class="nav-item">
                <a class="login" href="/list/job">apply job</a>
            </li>
            <li class="nav-item">
                <a class="login" href="/login">Log in</a>
            </li>
            <li class="nav-item">
                <a class="register" href="/register">Sign up</a>
            </li>
        </ul>
    </div>
</nav>