<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get It Vacation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <%- include('header.html', { links: [ 'About', 'Questions', 'Contact' ]}) %>
        
        <section class="hero">
            <div class="hero-center">
                <article class="hero-info">
                    <h1>
                        Payments infrastructure <br />
                        for the internet
                    </h1>
                    <p>
                        Millions of companies of all sizes—from startups to Fortune 500s—use
                        Stripe’s software and APIs to accept payments, send payouts, and
                        manage their businesses online.
                    </p>
                    <a href="/register" class="btn">Start now</a>
                </article>
                <article class="hero-images">
                    <img src="./images/phone.svg" class="phone-img" alt="" />
                </article>
            </div>
        </section>
        <!-- sidebar -->
        <div class="sidebar-wrapper">
            <aside class="sidebar">
                <button class="close-btn">
                    <i class="fas fa-times"></i>
                </button>
                <div class="sidebar-links"></div>
                <!-- links -->
            </aside>
        </div>
    </header>
    
    <main class="main">
        <div class="container">
            <h1 class="visually-hidden">Get It Vacation</h1>
            <div class="recruite-section">
                <div class="recruite-content">
                    <h2 class="main-title">I want hire!</h2>
                    <p class="main-text">Hiring employee is easy with us!</p>
                    <a href="/home/recruite" class="btn">Hire</a>
                </div>
                <div class="recruite-image">
                    <img src="/images/hire.png" alt="hire">
                </div>
            </div>
            <div class="apply-section">
                <div class="apply-content">
                    <h2 class="main-title">I want apply!</h2>
                    <p class="main-text">Employing is faster with us!</p>
                    <a href="/home/job" class="btn">Find</a>

                </div>
                <div class="apply-image">
                    <img src="/images/job.png" alt="job">
                </div>
            </div> 
        </div>
    </main>
    
    <section class="section" id="About">
        <div class="title">
            <h2>about</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
                aperiam!
            </p>
        </div>
        
        <div class="about-center container">
            <article class="about-img">
                <img src="/images/hiring.jpg" alt="" />
            </article>
            <article class="about">
                <!-- btn container -->
                <div class="btn-container">
                    <button class="tab-btn active" data-id="history">history</button>
                    <button class="tab-btn" data-id="vision">vision</button>
                    <button class="tab-btn" data-id="goals">goals</button>
                </div>
                <div class="about-content">
                    <!-- single item -->
                    <div class="content active" id="history">
                        <h4>history</h4>
                        <p>
                            I'm baby wolf pickled schlitz try-hard normcore marfa man bun
                            mumblecore vice pop-up XOXO lomo kombucha glossier bicycle
                            rights. Umami kinfolk salvia jean shorts offal venmo. Knausgaard
                            tilde try-hard, woke fixie banjo man bun. Small batch tumeric
                            mustache tbh wayfarers 8-bit shaman chartreuse tacos. Viral
                            direct trade hoodie ugh chambray, craft beer pork belly flannel
                            tacos single-origin coffee art party migas plaid pop-up.
                        </p>
                    </div>
                    <!-- end of single item -->
                    <!-- single item -->
                    <div class="content" id="vision">
                        <h4>vision</h4>
                        <p>
                            Man bun PBR&B keytar copper mug prism, hell of helvetica. Synth
                            crucifix offal deep v hella biodiesel. Church-key listicle
                            polaroid put a bird on it chillwave palo santo enamel pin,
                            tattooed meggings franzen la croix cray. Retro yr aesthetic four
                            loko tbh helvetica air plant, neutra palo santo tofu mumblecore.
                            Hoodie bushwick pour-over jean shorts chartreuse shabby chic.
                            Roof party hammock master cleanse pop-up truffaut, bicycle
                            rights skateboard affogato readymade sustainable deep v
                            live-edge schlitz narwhal.
                        </p>
                    </div>
                    <!-- end of single item -->
                    <!-- single item -->
                    <div class="content" id="goals">
                        <h4>goals</h4>
                        <p>
                            Chambray authentic truffaut, kickstarter brunch taxidermy vape
                            heirloom four dollar toast raclette shoreditch church-key.
                            Poutine etsy tote bag, cred fingerstache leggings cornhole
                            everyday carry blog gastropub. Brunch biodiesel sartorial mlkshk
                            swag, mixtape hashtag marfa readymade direct trade man braid
                            cold-pressed roof party. Small batch adaptogen coloring book
                            heirloom. Letterpress food truck hammock literally hell of wolf
                            beard adaptogen everyday carry. Dreamcatcher pitchfork yuccie,
                            banh mi salvia venmo photo booth quinoa chicharrones.
                        </p>
                    </div>
                    <!-- end of single item -->
                </div>
            </article>
        </div>
    </section>
    
    <section class="questions">
        <!-- title -->
        <div class="title">
            <h2>general questions</h2>
        </div>
        <!-- questions -->
        <div class="section-center container">
            <!-- single question -->
            <article class="question">
                <!-- question title -->
                <div class="question-title">
                    <p>do you accept all major credit cards?</p>
                    <button type="button" class="question-btn">
                        <span class="plus-icon">
                            <i class="far fa-plus-square"></i>
                        </span>
                        <span class="minus-icon">
                            <i class="far fa-minus-square"></i>
                        </span>
                    </button>
                </div>
                <!-- question text -->
                <div class="question-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                        dolore illo dolores quia nemo doloribus quaerat, magni numquam
                        repellat reprehenderit.
                    </p>
                </div>
            </article>
            <!-- end of single question -->
            <!-- single question -->
            <article class="question">
                <!-- question title -->
                <div class="question-title">
                    <p>do you suppport local farmers?</p>
                    <button type="button" class="question-btn">
                        <span class="plus-icon">
                            <i class="far fa-plus-square"></i>
                        </span>
                        <span class="minus-icon">
                            <i class="far fa-minus-square"></i>
                        </span>
                    </button>
                </div>
                <!-- question text -->
                <div class="question-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                        dolore illo dolores quia nemo doloribus quaerat, magni numquam
                        repellat reprehenderit.
                    </p>
                </div>
            </article>
            <!-- end of single question -->
            <!-- single question -->
            <article class="question" id="Questions">
                <!-- question title -->
                <div class="question-title">
                    <p>do you use organic ingredients?</p>
                    <!-- button -->
                    <button type="button" class="question-btn">
                        <span class="plus-icon">
                            <i class="far fa-plus-square"></i>
                        </span>
                        <span class="minus-icon">
                            <i class="far fa-minus-square"></i>
                        </span>
                    </button>
                </div>
                <!-- question text -->
                <div class="question-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                        dolore illo dolores quia nemo doloribus quaerat, magni numquam
                        repellat reprehenderit.
                    </p>
                </div>
            </article>
            <!-- end of single question -->
        </section>
        
        <footer class="footer">
            <p>
                copyright &copy; backroads travel tours company
                <span id="date"></span>. all rights reserved
            </p>
        </footer>
        <a class="scroll-link top-link" href="#home">
            <i class="fas fa-arrow-up"></i>
        </a>
        
        <script src="/js/home.js"></script>
    </body>
    </html>