<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get It Vacation</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('header.html', { links: [ 'About', 'Q&A', 'Contact' ]}) %>
    
    <main class="main">
        <div class="container">
            <h1 class="visually-hidden">Get It Vacation</h1>
            <div class="recruite-section">
                <div class="recruite-content">
                    <h2 class="main-title">I want hire!</h2>
                    <p class="main-text">Hiring employee is easy with us!</p>
                    <a class="main-link" href="/home/recruite">Hire</a>
                </div>
                <div class="recruite-image">
                    <img src="/images/hire.png" alt="hire">
                </div>
            </div>
            <div class="apply-section">
                <div class="apply-content">
                    <h2 class="main-title">I want get a job!</h2>
                    <p class="main-text">Employing is faster with us!</p>
                    <a class="main-link" href="/home/job">Find</a>
                </div>
                <div class="apply-image">
                    <img src="/images/job.png" alt="job">
                </div>
            </div> 
        </div>
    </main>
    
    <!-- <section class="jobs">
        <div class="container">
            <h1 class="jobs__title">
                Searching jobs
            </h1>
            <p class="jobs__subtext">
                Nullam laoreet nec turpis et ultrices. Duis sit amet quam arcu. Nam facilisis lacinia ex, eget sollicitudin massa pellentesque in. Vivamus mattis eros at sem pulvinar
            </p>
            <ul class="jobs__list">
                <li class="jobs__item">
                    <img class="jobs__list__image" src="/images/website-illustration1.png" alt="web site image">
                    <h2 class="jobs__list__title">
                        Creating web-site
                    </h2>
                    <p class="jobs__list__slog">
                        lorem, ipsum.
                    </p>
                </li>
                <li class="jobs__item">
                    <img class="jobs__list__image" src="/images/bot-illustration2.png" alt="bot image">
                    <h2 class="jobs__list__title">
                        Telegram bot
                    </h2>
                    <p class="jobs__list__slog">
                        Lorem, ipsum.
                    </p>
                </li>
                <li class="jobs__item">
                    <img class="jobs__list__image" src="/images/smm-illustration@2x.png" alt="smm image">
                    <h2 class="jobs__list__title">
                        Smm
                    </h2>
                    <p class="jobs__list__slog">
                        Lorem, ipsum.
                    </p>
                </li>
                <li class="jobs__item">
                    <img class="jobs__list__image" src="/images/design-illustration@2x.png" alt="design image">
                    <h2 class="jobs__list__title">
                        Graphic design
                    </h2>
                    <p class="jobs__list__slog">
                        Lorem, ipsum.
                    </p>
                </li>
                <li class="jobs__item">
                    <img class="jobs__list__image" src="/images/crm-illustration@2x.png" alt="crm image">
                    <h2 class="jobs__list__title">
                        CRM systems
                    </h2>
                    <p class="jobs__list__slog">
                        Lorem, ipsum.
                    </p>
                </li>
            </ul>
            <span class="serves__links">
                <a href="/register" class="booking">Get started</a>
            </span>
        </div>
    </section> -->
</body>
</html>