<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find employee for your company</title>
    <link rel="stylesheet" href="/css/job.css">
</head>
<body>
    <main class="main">
        <div class="container">
            <header class="header">
                <a href="/">
                    <h1>
                        <img src="/images/logo.png" alt="logo">
                    </h1>
                </a>
                <h1>Searching jobs</h1>
            </header>
            <form id="recruite" action="/home/recruite" method="POST">
                <label>
                    <p>Specialization</p>
                    <input type="text" name="specialization" id="specialization" required placeholder="Specialization">
                </label>
                <label>
                    <p>Technology</p>
                    <input type="text" name="technology" id="technology" required placeholder="Technology">
                </label>
                <label>
                    <p>Experience</p>
                    <select name="experience" id="experience">
                        <option value="oneYear">1 - yil</option>
                        <option value="twoYear">2 - yil</option>
                        <option value="threeYear">3 - yil</option>
                        <option value="fourYear">4 - yil</option>
                        <option value="fiveYear">5 - yil</option>
                        <option value="moreThanSix">6 - yildan ko'p</option>
                    </select>
                </label>
                <label>
                    <p>Qualification</p>
                    <select name="experience" id="experience">
                        <option value="orta">o'rta</option>
                        <option value="ooliy">oliy</option>
                        <option value="none">ma'lumot yo'q</option>
                    </select>
                </label>
                <label>
                    <p>Salary</p>
                    <input type="text" name="salary" id="salary" required placeholder="salary">
                </label>
                <label>
                    <p>Type of work</p>
                    <select name="TypeOfWork" id="typeOfWork">
                        <option value="doimiy">doimiy</option>
                        <option value="vaqtincha">vaqtincha</option>
                        <option value="amaliyot">amaliyot</option>
                    </select>
                </label>
                <label>
                    <p>Location</p>
                    <select name="location" id="location">
                        <option value="Andijan">Andijon</option>
                        <option value="Bukhara">Buxoro</option>
                        <option value="Djizzak">Jizzax</option>
                        <option value="Fergana">Farg'ona</option>
                        <option value="Kashkadarya">Qashqadaryo</option>
                        <option value="Khorezm">Xorazm</option>
                        <option value="Namangan">Namangan</option>
                        <option value="Navoi">Navoi</option>
                        <option value="Samarkand">Samarqand</option>
                        <option value="Surkhandarya">Surxondaryo</option>
                        <option value="Tashkent">Toshkent</option>
                        <option value="Republic of Karakalpakistan">Qoraqalpog'iston Respublikasi</option>
                    </select>
                </label>
                <label>
                    <p>Age</p>
                    <input type="number" name="age" id="age" required placeholder="Age">
                </label>
                <label>
                    <p>Contact</p>
                    <input type="number" name="number" id="number" required placeholder="Contact" min="12">
                </label>
                <div class="radio">
                    <p>Gender</p>
                    <div>
                        <input type="radio" name="gender" value="male">
                        <label>male</label>
                    </div>
                    <div>
                        <input type="radio" name="gender" value="female">
                        <label>female</label>
                    </div> 
                </div>
                <label class="button">
                    <button type="submit">Submit</button>
                </label>
            </form>
        </div>
    </main>
</body>
</html>