<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find employee for your company</title>
    <link rel="stylesheet" href="/css/recruite_list.css">
</head>
<body>
    <%- include('header.html', { links: [ 'log out']}) %>

    <main class="main">
        <div class="container">
            <h1>Staffs</h1>
            <p>The appropriate staffs for your company</p>

            <ul class="list">
                <% for(let staff in staffs) { %>
                    <li>
                        <p>name: <%= staffs[staff].staff_full_name %></p>
                        <p>specialization: <%= staffs[staff].specialization %></p>
                        <p>technology: <%= staffs[staff].technology %></p>
                        <p>experience: <%= staffs[staff].experience %></p>
                        <p>qualification: <%= staffs[staff].qualification %></p>
                        <p>salary: <%= staffs[staff].salary %></p>
                        <p>type of work: <%= staffs[staff].type_work %></p>
                        <p>location: <%= staffs[staff].location %></p>
                        <p>age: <%= staffs[staff].age %></p>
                        <p>gender: <%= staffs[staff].gender %></p>
                        <p>
                            number: <a href="tel:+"><%= staffs[staff].number %></a>
                        </p>
                    </li>
                <% } %>
            </ul>
        </div>
    </main>
</body>
</html>