<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find employee for your company</title>
    <link rel="stylesheet" href="/css/recruite_list.css">
</head>
<body>
    <%- include('header.html', { links: [ 'log out']}) %>

    <main class="main">
        <div class="container">
            <h1>Staffs</h1>
            <p>The appropriate staffs for your company</p>

            <ul class="list">
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                <li>
                    <p>Company name</p>
                    <p>Specialization</p>
                    <p>Technology</p>
                    <p>Experience</p>
                    <p>Salary</p>
                    <p>Type of work</p>
                    <a href="tel:+">998974409931</a>
                </li>
                
            </ul>
        </div>
    </main>
</body>
</html>