.nav {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 5px;
    padding: 0 5px;
}

.nav-item .login {
    color: #0477f1de;
    font-size: 20px;
    transition: .5s;
}

.nav-item .login:hover {
    text-decoration: underline;
    color: #08509cef;
}

.register {
    background-color: #0b56a7;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.register:hover {
    background-color: #0b56a7;
    opacity: 0.91;
}