:root {
    --bg-color: #00BAFC;
    --hover-color: #0381af;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* .nav-link {
    display: none;
} */

.main .container {
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recruite-section, .apply-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 47%;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px 0;
    transition: transform .3s;
}

.recruite-section:hover, .apply-section:hover {
    transform: scale(1.1);
}

.recruite-image, .apply-image {
    width: 200px;
}

.recruite-image img, .apply-image img {
    width: 100%;
}

.main-title {
    font-size: 35px;
    margin-bottom: 10px;
}

.main-text {
    font-size: 17px;
    color: rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.main-link {
    font-size: 22px;
    background-color: var(--bg-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;
}

.main-link:hover {
    background-color: var(--hover-color);
    opacity: 0.91;
}

.jobs .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.jobs__title {
    font-size: 35px;
    margin-bottom: 30px;
}

.jobs__subtext {
    text-align: center;
    width: 60%;
    margin-bottom: 40px;
    line-height: 1.7;
}

.jobs__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.jobs__item {
    width: calc(100% / 3 - 7%);
    margin: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 30px 15px;
}

.jobs__list__image {
    width: 60%;
}

.jobs__list__title {
    margin: 20px 0;
}

.jobs__links {
    margin-top: 30px;
}

.serves__links {
    margin-top: 40px;
}

.booking {
    background-color: var(--bg-color);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: background .3s;
}

.booking:hover {
    background-color: var(--hover-color);
}